.accordian{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item{
    width: 400px;
    margin: 5px;
}
.title{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color: rgb(236, 244, 184);
}
.sign{
    font-size: 50px;
    font-weight: bold;
}
.content {
  font-size: 20px;
  font-weight: bold;
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  transition: max-height 0.5s ease;
}

.content.show {
  min-height: 40px;
  opacity: 1;
  padding: 5px 0px;
  background-color: rgb(190, 242, 117);
}
button{
    background-color: bisque;
    border: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 25px;
    margin-bottom: 5px;
    width: 200px;
}
